/*!
 * Snail UI CSS Framework 1.9.2
 * http://www.snailui.com
 * author: roy.lyn
 */
.sn-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}

/* workarounds */
* html .sn-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */
