/*!
 * Snail UI CSS Framework 1.9.2
 * http://www.snailui.com
 * author: roy.lyn
 */
.sn-dialog { position: absolute; top: 0; left: 0; padding: .2em; width: 300px; overflow: hidden; }
.sn-dialog .sn-dialog-titlebar { padding: .4em 1em; position: relative;  }
.sn-dialog .sn-dialog-title { float: left; margin: .1em 16px .1em 0; }
.sn-dialog .sn-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.sn-dialog .sn-dialog-titlebar-close span { display: block; margin: 1px; }
.sn-dialog .sn-dialog-titlebar-close:hover, .sn-dialog .sn-dialog-titlebar-close:focus { padding: 0; }
.sn-dialog .sn-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.sn-dialog .sn-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.sn-dialog .sn-dialog-buttonpane .sn-dialog-buttonset { float: right; }
.sn-dialog .sn-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }
.sn-dialog .sn-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.sn-draggable .sn-dialog-titlebar { cursor: move; }
