/*!
 * Snail UI CSS Framework 1.9.2
 * http://www.snailui.com
 * author: roy.lyn
 */
/* Layout helpers
----------------------------------*/
.sn-helper-hidden { display: none; }
.sn-helper-hidden-accessible { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.sn-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.sn-helper-clearfix:before, .sn-helper-clearfix:after { content: ""; display: table; }
.sn-helper-clearfix:after { clear: both; }
.sn-helper-clearfix { zoom: 1; }
.sn-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.sn-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.sn-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.sn-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
